# docker images
docker-*

# docker starting batch files
start.*

# Visual Studio Code files
.vscode

# Python VirtualEnv stuff
websiteAvailability/bin
websiteAvailability/include
websiteAvailability/lib
websiteAvailability/lib64
websiteAvailability/src/__pycache__
websiteAvailability/src/ca.pem
websiteAvailability/src/service.*
websiteAvailability/pyvenv.cfg
